/* global settings */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #141b24;
}

/* Site Elements */
#prime_logo{
    width: 100px;
}

.search-lens {
    cursor: pointer;
}
img.user-icon {
    width: 35px;
}
a.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}
img.movie-tab {
    width: 250px;
}
/* Bootstrap Overrides */
.bg-dark {
    background-color: #18212c !important;
}

a.see-link {
    text-decoration: none;
}